[Unit]
Description=Dummy API built in Kotlin using Spring Boot

[Service]
ExecStart=/var/dummy-api/dummy-api.jar
Restart=on-failure
User=ec2-user

[Install]
WantedBy=multi-user.target